# compiled numpy arrays
*.npy

# data files containing scaling parameters
X_scaling.dat
Y_scaling.dat

# all generated plots
*.png

# processed data
data/processed

# pycache and swp
__pycache__/
*.swp

# all .egg-info files
*.egg-info/

# compiling this is a work in progress; will update later
official_results/

# all trained models except for ones in ./models
*.keras
!models/*.keras

# all results folders
demo/test_forward/forward_results
demo/test_inverse/inverse_results
demo_notebook/forward_results
demo_notebook/inverse_results

# virtual environment
venv/

# notebook checkpoints
.ipynb_checkpoints/

# jupyter virtual environment
jupyter_env/

# Log files
*.log

# Other output files
variable_names.txt
